<%- include("partials/header"); %>

<h1>Compose</h1>

<div>

    <form action="/compose" method="POST">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" class="form-control" name="txttitle" aria-describedby="emailHelp" placeholder="Title">
        </div>
        <div class="form-group">
          <label for="post">Post</label>
          <textarea rows="6" class="form-control" name="txtpost" placeholder="Write your post"></textarea>
        </div>
        <div class="form-group">
        <button type="submit" class="form-control btn btn-primary">Submit</button>
    </div>
      </form>
</div>


<%- include("partials/footer"); %>